__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
instance/
.webassets-cache
*.db
*.sqlite
*.sqlite3
.env
.flaskenv
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
models/__pycache__/